@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Define the initial variables

$esplac: #ffa400;
$esplac-invert: findColorInvert($esplac);
$esplaiada: #00A2A7;
$esplaiada-invert: findColorInvert($esplaiada);
$esplaiada-groc: #FFD100;
$esplaiada-vermell: #E30023;
$esplaiada-verd: #00C193;
$esplaiada-blau: #00407B;
$esplaiada-groc-invert: findColorInvert($esplaiada-groc);
$esplaiada-vermell-invert: findColorInvert($esplaiada-vermell);
$esplaiada-verd-invert: findColorInvert($esplaiada-verd);
$esplaiada-blau-invert: findColorInvert($esplaiada-blau);
$family-serif: "Open Sans", "Segoe UI", Arial, sans-serif;

//Set derived variables
$primary: $esplaiada;
$primary-invert: $esplaiada-invert;
$info: $esplaiada-blau;
$info-invert: $esplaiada-blau-invert;
$success: $esplaiada-verd;
$success-invert: $esplaiada-verd-invert;
$warning: $esplaiada-groc;
$warning-invert: $esplaiada-groc-invert;
$danger: $esplaiada-vermell;
$danger-invert: $esplaiada-vermell-invert;

$family-primary: $family-serif;
@import "~bulma"

//Custom CSS
a {color: $primary;}
span.tag
  margin: 4px
.map-container
  margin-bottom: 24px
.navbar-burger
  margin: 0px
.videocontainer
  position: relative
  padding-bottom: 56.25%
  height: 0px
  overflow: hidden
.react-player
  position: absolute
  top: 0
  left: 0
.add-margin
  margin-bottom: 24px
.add-margin-button
  margin-bottom: 8px
.my-icon-container
  margin: 8px
.my-site
  display: flex;
  min-height: 100vh;
  flex-direction: column;
.my-site-content
  flex: 1;
.my-navbar-title
  flex-grow: 100;
